*{
    padding: 0;
    margin: 0;
}
:root{
    --primary:#003b4d;
    --footer_color:#00242f;
    --section:rgba(7, 168, 206, 0.36);
    --form:rgba(7, 168, 206, 0.91);
    --section-shadow:rgba(206, 146, 7, 0.62);
    --primary_light:rgba(39, 119, 39, 0.61);
    --gray:#f5f5f5;
    --gray_dark:#333;
    --orange: #ffa500;
    --orangedark:#ea9700;
    --white:#ffffff;
}
html,body{
    font-family: Raleway;
    font-size: 18px;
    line-height: 145%;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    width: 100%;
    background-color: var(--gray);
}
header{
    background-color: var(--primary);
}
.logo{
    height: 30px;
    padding: 20px;
}
.Sign_Up{
    border-radius:5px;
    background: var(--form);
    padding: 20px;
    width:420px;    
    margin: auto;
    color: #fff;
    font-size: 16px;
    margin: 30px auto;
    padding-bottom:50px;
    opacity: 0.9;
}
.Sign_Up h1{
    text-align: center;
    margin: 0;
    padding: 40px 0;
    color: var(--white);
}
.Sign_Up input,select{
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background: black;
    color: var(--gray);
    opacity: 0.9;
}
Sign_Up input[type=submit]{
    width: 100%;
    border: none;
    cursor: pointer;
}
#fname{
    width: 49%;
}
#lname{
    width: 49.5%;
}
#email{
    width: 100%;
}
#password{
    width: 49.5%;
}
#re_password{
    width: 49%;
}
input[type=submit]:hover{
    background: var(--primary);
    transition: 0.6s;
}
option{
    color: black;
    background: var(--gray);
}